<h1>New Booking</h1>

<b>Create a new booking</b>

<%= simple_form_for [@tattoo, @booking] do |f| %>
  <%= f.input :date, as: :date, html5: true %>
  <%= f.input :time, as: :time %>
  <%= f.input :status %>
  <%= f.submit "Create booking", class: "btn btn-primary" %>
<% end %>

<%= link_to "Go back to artist profile", @user %> |
<%= link_to "Show all tattoos", tattoos_path %>
<%#= link_to "Show tattoo", @tattoo %>
