<h1>Tattoos</h1>


<b>Insert a tattoo</b>



<%= simple_form_for(@tattoo) do |f| %>
  <%= f.input :photo %>
  <%= f.input :description %>
  <%= f.submit "Create tattoo", class: "btn btn-primary" %>
<% end %>

<%= link_to "Go back to artist profile", @user %>
