<div class="card-trip container my-5">
  <%= cl_image_tag(@tattoo.photo,
     width: 400, height: 300, crop: :fill, padding: 10) %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @tattoo.description %></h2>
      <p>designed by <%= @tattoo.user.name %></p>
      <% if @user.role == "customer" %>
        <%= link_to "Book now", new_tattoo_booking_path(@tattoo), class:"btn btn-special m-2" %>
      <% end %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center my-3">
    <%= link_to "Show all tattoos", tattoos_path, class: 'btn btn-special m-2' %>
    <% if @user.role == "artist" %>
      <%= link_to "Go to my profile", user_path(current_user), class: 'btn btn-special m-2' %>
    <% end %>
    <%= link_to "Go to artist", user_path(@artist), class: 'btn btn-special m-2' %>
    <% if policy(@tattoo).destroy? && current_user == @tattoo.user %>
      <%= link_to "Delete your tattoo", tattoos_path, class: 'btn btn-special m-2' %>
    <% end %>
</div>




