<div class="my-forms">
  <div class="container text-black py-3">
  <h2>Log in to GetInked2</h2>
  <p>And find the perfect tattoo for you today!</p>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs py-2">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label_html: {class:'py-2'} %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" },
                  label_html: {class:'py-2'} %>
      <%= f.input :remember_me, label_html: {class:'pt-4', style: 'margin-left: 7px;'},
      input_html: {style: 'margin-top: 17px; margin-left: -12px;' },
                  as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions btn btn-primary my-3">
      <%= f.button :submit, "Log in" , class:'text-white'%>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

  </div>
</div>
